
<br/>
<br/>
<br/>

<div class="span10 offset2 smurfy text-center">

	<h1 class="custom-h1">

		Hi I'm Kaki. I like bears.

	</h1>

	<h2>
		Not all bears like honey.
		But Winnie the Pooh does.
	</h2>

	<%= link_to 'I Like Honey!','#',:class => 'btn btn-info btn-large'%>
</div>