
<br/>
<br/>
<br/>

<div class="span10 offset2 smurfy text-center">

	<h1 class="custom-h1">

		Kaki's Bear Picture Website

	</h1>

	<h2>
		Click here to upload your bear pictures
	</h2>

	<%= link_to 'Upload Now!', new_pic_path,:class => 'btn btn-info btn-large'%>
</div>